* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 20px;
    border-bottom: 2px solid rgba(117, 111, 111, 0.7);
    padding: 18px;
    box-shadow: 10px 10px 10px rgba(70, 68, 68, 0.5);
    overflow: hidden;
}
header h2 {
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    min-width: 100px;
} 
.googlelogo {
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}
.div1a, .div1b {
    display: flex;
}
.div1a {
    align-items: center;
}
.div1b {
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}
header button {
    background-color: rgba(66, 133, 244, 0.9);
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.4);
    cursor: pointer;
}
header button:hover {
    background-color: rgb(66, 133, 244);
}
.div2 {
    padding: 10px 15px 10px 15px;
    background-color: rgb(255, 119, 0);
    color: white;
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
    border-top: none;
    /* box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.4);
    cursor: pointer; */
}
.hero2 {
    text-decoration: underline;
    cursor: pointer;
}
.div3 {
    display: flex;
    width: 50%;
    flex-direction: column;
    row-gap: 40px;
    padding: 50px 80px;
    min-height: 200px;
}
.div4 {
    display: flex;
    position: relative;
    width: 70%;
    max-height: 360px;
}
.hero5 {
    width: 100%;
}
.div5 {
    display: flex;

}
.hero3 {
    display: block;
    font-size: 40px;
    font-weight: 500;
}
.hero4 {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
}
.div5 {
    background-color: rgba(235, 229, 229, 0.5);
    position: relative;
    display: flex;
}
.scroll {
    position: absolute;
    background-color: rgba(66, 133, 244, 0.9);
    border-radius: 30px;
    left: 46.5%;
    margin-top: 270px;
    width: 30px;
    padding: 15px;
}
.div6 {
    background-color: rgb(66, 133, 244);
    min-height: 1000px;
    padding: 40px 40px 40px 70px;
}
.div6 h1 {
    color: white;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 40px;
    margin-left: 0;
}
.div7 a img {
    width: 100px;
    margin-bottom: 12px;
    margin-top: 10px;
    margin-left: -22px;
}
.div7 a {
    text-decoration: none;
    color: black;
    line-height: 35px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .3px;
}
.boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.div7 p {
    margin-top: 40px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.7);
}
#icon {
    width: 50px;
    margin-bottom: 12px;
    margin-top: 10px;
    margin-left: 0px;
}
footer {
    height: 60px;
    overflow: hidden;
}
footer i {
    width: 200px;
    margin-left: 180px;
    cursor: pointer;
    color: orange;
    font-size: 38px;
}
.div10 {
    width: 235px;
    background-color: white;
    padding: 0 16px;
    border-radius: 4px;
    height: 450px;
    box-shadow: 5px 5px 5px rgba(107, 104, 104, 0.5);
    overflow: hidden;
} 
.div7 {
    width: 100%;
    text-align: left;
    min-height: 400px;
}
.div8 {
    background-color: rgba(235, 229, 229, 0.2);
    min-height: 500px;
    padding: 35px 40px 40px 60px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    overflow: hidden;
}
.div8 h1 {
    color: black;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}
.div8a {
    min-height: 100px;
    background-color: rgba(231, 226, 226, 0.5);
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.4);
    display: flex;
}
.div8b {
    max-width: 25%;
    min-height: 100px;
}
.div8c {
    width: 83%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100px;
    overflow: hidden;
}
.div8b img {
    width: 100%;
}
.div8e {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    min-height: 75%;
    padding-top: 20px;
    border-top: 1px solid grey;
    padding-left: 20px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
}
.div8d {
    max-height: 25%;
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
}
.scroll:hover {
    background-color: rgb(36, 115, 243);
    cursor: pointer;
}
.div11 {
    padding: 20px 30px 10px 60px;
}
.div11 h2 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
}
.div11 p {
    line-height: 25px;
    color: rgba(0, 0, 0, 0.7);
}
.div12 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 13px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
}
.div12 img {
    height: 50px;
    margin-bottom: 10px;
}
.div12a {
    min-width: 230px;
    max-width: 260px;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    background-color: rgba(231, 226, 226, 0.5);
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.4);
    border-radius: 3px;
    height: 120px;
}
.div12 p {
     color: rgba(0, 0, 0, 0.7);
}
.div13 {
    background-color: rgba(231, 226, 226, 0.5);
}
.div13a {
    padding: 20px 30px 10px 40px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 200;
}
.div13b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 13px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-top: 1px solid grey;   
}
.div13c {
    min-width: 110px;
    max-width: 200px;
    min-height: 150px;
    cursor: pointer;
    padding: 15px;
    text-align: center;
}
.div13 img {
    height: 60px;
    margin-bottom: 10px;
}
.div13 p {
     color: rgba(0, 0, 0, 0.7);
}
.pagefooter {
    text-align: right;
    overflow: hidden;
}
.pagefooter a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
