@media (max-width: 600px) {
    .div5 {
    display: flex;
    flex-direction: column;
}
header {
    grid-template-columns: 4fr 1fr;
}
header h2 {
    font-size: 17px;
} 
.div3 {
    display: flex;
    width: 70%;
    margin-inline: auto;
}
.div4 {
    display: flex;
    position: relative;
    width: 60%;
    height: 0;
    margin-inline: auto;
}
.scroll {
    display: none;
}
.div6 h1 {
    font-size: 28px;
    margin-left: 10px;
}
.div10 {
    width: 75%;
    margin-inline: auto;
} 
.div12a, .div13c {
    width: 70%;
    max-width: 70%;
    margin-inline: auto;
}
.pagefooter a {
    margin-right: 0px;
    font-size: 12px;
    margin-left: 12px;
}
.pagefooter {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: flex-end;
}
}
@media (min-width: 601px) and (max-width: 900px) {
    header {
    grid-template-columns: 3fr 1fr;
}
}